<div class="box box-primary">
  <div class="box-header with-border">
    <div class="user-block">
      <span class="username" style="margin-left: 0">Time distribution (%) over the last 10 weeks</span>
    </div>
  </div>
  <div class="box-body">
    <canvas class="user_summary" data-id=<%= @user.id %> height="200" width="600"></canvas>
  </div>
</div>
