<%= render partial: 'shared/page_title', locals: { title: "User Profile" } %>

<section id= "content" class="content" ng-controller="ReportsController">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "profile_summary" %>
    </div>
  </div>
</section>
