<%= render partial: 'shared/page_title', locals: { title: 'Edit Team Member' } %>

<section id= "content" class="content" %>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Edit Existing Team Member</h3>
        </div>
        <%= render partial: 'form', locals: { link: team_member_path(@team_member), submit_text: "Update", method: "patch" } %>
      </div>
    </div>
  </div>

</section>
