<%= render partial: 'shared/page_title', locals: { title: 'Team Members', add_link: new_team_member_path } %>

<section class="content">

  <div class="row">
    <% @team_members.each do |tm| %>
      <%= render partial: 'team_members/team_member_box', locals: { tm: tm, link: edit_team_member_path(tm), new: false } %>
    <% end %>
    </div>
  </div>

</section>
