<%= render partial: 'shared/page_title', locals: { title: @team_member.name } %>

<section id= "content" class="content" %>

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-widget">
        <div class="box-header with-border">
          <div class="user-block">
            <span class="username" style="margin-left: 0">Time distribution (%) over the last 10 weeks</span>
          </div>
        </div>
        <div class="box-body">
          <canvas class="team_member_summary" data-id=<%= params[:id] %> height="200" width="600"></canvas>
        </div>
      </div>
    </div>
  </div>

</section>
