<aside class="main-sidebar">

  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a href="<%= root_path %>">
          <i class="fa fa-th"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="<%= clients_path %>">
          <i class="fa fa-th"></i> <span>Clients</span>
        </a>
      </li>
      <li>
        <a href="<%= projects_path %>">
          <i class="fa fa-th"></i> <span>Projects</span>
        </a>
      </li>
      <li>
        <a href="<%= team_members_path %>">
          <i class="fa fa-th"></i> <span>Team Members</span>
        </a>
      </li>
    </ul>
  </section>
  
</aside>
