<%= render partial: 'shared/page_title',
  locals: {
    title: @client.name,
    description: @client.projects.length.to_s + ' active projects',
    menu: []
  }
%>

<section id= "content" class="content" %>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Client General Details</h3>
        </div>

        <%= form_tag(client_path(@client), method: "patch") do %>
          <div class="box-body">
            <div class="form-group">
              <label>Client Description</label>
              <%= text_area_tag 'client[description]', @client.description, class: "form-control" %>
            </div>
          </div>

          <div class="box-footer">
            <%= submit_tag "Save", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</section>
