<%= render partial: 'shared/page_title', locals: { title: 'Clients' } %>

<section class="content">

  <div class="row">
    <% @clients.each do |client| %>
      <%= render partial: 'clients/client_box', locals: { name: client.name, url: client_path(client), description: '', new: false } %>
    <% end %>
  </div>

</section>
