.o-form {
  width: 100%;
}

  .o-form__label {
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    margin-top: 10px;
  }
  .o-form__input {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
  }
  .o-form__description {
    font-size: 10px;
    width: 100%;
    margin-bottom: 10px;
  }
  .o-form__text {
    width: 100%;
    min-height: 200px;
    border: 1px solid #ccc;
  }
