<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>CÓMO LLEGAR AL BALNEARIO IPORÁ?</h2>
      <iframe
        style="width: 90%"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB137ESie1JVYAk7wdO6ZDwddIiIgx8xtk&q=45000+Balneario+Iporá,+Tacuarembó+Department,+Uruguay&zoom=11"
        allowfullscreen>
      </iframe>
		</header>
	</div>
</section>
