<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>TEDxBalnearioIpor치</h2>
		<p>Tacuaremb칩, Uruguay<br> S치bado 15 de Abril de 2017</p>
		<h4 style="font-weight: bold">IDEAS QUE SE SIEMBRAN, IMPULSAN Y TRANSFORMAN</h4>
		<p>Ideas, proyectos y oradores que nos convocan a pensar, <br>a conversar y a conectarnos como comunidad.</p>
		<ul class="actions">
			<!-- <li><a href="#" class="button special">Quiero una entrada!</a></li> -->
		</ul>
	</div>
	<a href="#one" class="more scrolly">Ver M치s</a>
</section>
