<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h4>Tienes preguntas? <br>Quieres unirte al equipo?</h4>
			<p>Envíanos un mail a <a href="mailto: hola@tedxbalnearioipora.com">hola@tedxbalnearioipora.com</a>.</p>
		</header>
		<!-- <ul class="actions vertical">
			<li><a href="#" class="button fit special">Activate</a></li>
			<li><a href="#" class="button fit">Learn More</a></li>
		</ul> -->
	</div>
</section>
