<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Oradores</h2>
			<!-- <p>
				La edición 2017 está en marcha! Tienes una idea interesante para compartir con la comunidad? <br>
				El equipo se encuentra evaluando propuestas, y aún estás a tiempo de formar <br>
				parte del evento. Contáctate con nosotros enviando un email a
				<a href="mailto: oradores@tedxbalnearioipora.com">oradores@tedxbalnearioipora.com</a>.
			</p> -->
		</header>
		<ul class="features">
			<li style="padding: 10px;">
        <div class="nombre-orador">
          Margot Ferreira
        </div>
				<div class="imagen-orador">
					<%= image_tag "Web_CarolinaFerreira.png" %>
				</div>
				<h3></h3>
				<p style="font-size: 14px">
          Margot Ferreira es científica y emprendedora, fundadora & CEO de Madame Hibou, una marca de indumentaria y accesorios que nace en 2014 en Uruguay con el desafío de hacer convivir dos mundos completamente diferentes: el del diseño y el de la ciencia.
        </p>
			</li>

      <li style="padding: 10px;">
        <div class="nombre-orador">
          Margot Ferreira
        </div>
				<div class="imagen-orador">
					<%= image_tag "Web_MargotFerreira.png" %>
				</div>
				<h3></h3>
				<p style="font-size: 14px">
          Alumna del Colegio San Javier, de la Facultad de Ciencias Económicas de UDELAR y recientemente de la Harvard Kennedy School. Interesada en políticas públicas, desarrollo, liderazgo femenino e innovación social, con foco en América Latina y Uruguay, y Economista territorial por vocación.
        </p>
			</li>

      <!-- <li style="padding: 10px;">
        <div class="nombre-orador">
          Daniel Castro
        </div>
				<div class="imagen-orador">
					<%= image_tag "Web_DanielCastro.png" %>
				</div>
				<h3></h3>
				<p style="font-size: 14px">
          Renombrado periodista, desde 1987 ha trabajado en diversos medios de comunicación: Televisión Estatal SODRE, Radio Sarandí, Semanario El Día, Radio Monte Carlo, Monte Carlo Televisión y La Mañana de El Espectador, comenzando en la radio y la televisión de Tacuarembó.
        </p>
			</li> -->

      <li style="padding: 10px;">
        <div class="nombre-orador">
          Conrado Viña
        </div>
				<div class="imagen-orador">
					<%= image_tag "Web_ConradoVina.png" %>
				</div>
				<h3></h3>
				<p style="font-size: 14px">
          Cofundador y Director General (CEO) en Feng Office, miembro del directorio de Moove-it y de la Cámara Uruguaya de Tecnologías de la Información (Cuti) con especialización en gestión, trabajo de oficina, inteligencia en los negocios y usabilidad de sistemas.
        </p>
			</li>
		</ul>
	</div>
</section>
