<!-- <section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Edición 2017</h2>
			<p>
				La edición 2017 está en marcha! Tienes una idea interesante para compartir con la comunidad? <br>
				El equipo se encuentra evaluando propuestas, y aún estás a tiempo de formar <br>
				parte del evento. Contáctate con nosotros enviando un email a
				<a href="mailto: oradores@tedxbalnearioipora.com">oradores@tedxbalnearioipora.com</a>.
			</p>
		</header>
		<ul class="features">
			<li>
				<div class="imagen-orador">
					<i class="fa fa-user"></i>
				</div>
				<h3></h3>
				<p>Quieres ver tu foto aquí? Escríbenos a
					<a href="mailto: oradores@tedxbalnearioipora.com">oradores@tedxbalnearioipora.com</a>.</p>
			</li>
		</ul>
	</div>
</section> -->
