<section id="three" class="wrapper style3 special" style="background-color: #e82a0f">
	<div class="inner">
		<header class="major">
			<h2 style="color: #fff">Sponsors</h2>
			<p style="color: #fff; font-size: 15px">
				TEDxBalnearioIporá es un evento gratuito y sin fines de lucro que se financia exclusivamente a través de sus sponsors. <br>
				Unirse a este selecto grupo de patrocinadores genera importantes beneficios: formar parte de una marca de <br>
				prestigio internacional, lograr visibilidad en un sector de la sociedad sediento de nuevas oportunidades, <br>
				obtener acceso privilegiado en el evento y un paquete de entradas especial, entre otros beneficios. <br> <br>

				Todos los interesados en obtener más información para formar parte del evento, pueden contactar a los <br>
				organizadores a través del email:
				<a class="red" href="mailto: sponsors@tedxbalnearioipora.com">sponsors@tedxbalnearioipora.com</a>.
			</p>
		</header>
	</div>
</section>
