<section id="two" class="wrapper alt style2">
	<section class="spotlight">
		<div class="image">
			<%= image_tag "tedx.jpg" %>
		</div>
		<div class="content">
			<h2>QUÉ ES TEDx?</h2>
			<p style="font-size: 15px">
				Compartiendo la misión de la organización TED, los eventos TEDx forman parte de un programa de eventos
				auto-organizados que unen a la gente para compartir una experiencia TED.
				Desde TED se provee una guía general, pero cada evento se auto-organiza siguiendo ciertas reglas y regulaciones.
				Son centenares los países que hoy en día lo llevan a cabo, habiéndose realizado ya más de 10.000 TEDx en el mundo.
			</p>
		</div>
	</section>
	<section class="spotlight">
		<div class="image"><%= image_tag "balnearioipora.JPG" %></div><div class="content">
			<h2>SOBRE TEDxBalnearioIporá</h2>
			<p style="font-size: 15px">
				TEDxBalnearioIporá nace de un grupo de jóvenes que busca contribuir a la comunidad a partir de ideas e historias.
 				En los eventos TEDx, a través de su formato de charlas de alto impacto,
				encontramos la herramienta que nos permite interpelar a la comunidad,
				sembrando ideas originales y provocadoras en relación a diversas áreas.
			</p>
		</div>
	</section>
</section>
