<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>QUÉ ES TED?</h2>
			<p style="font-size: 15px; font-weight: 100;">
				TED -Tecnología, Entretenimiento, Diseño- es un evento anual donde algunos de los pensadores <br>
				y emprendedores más importantes del mundo comparten aquello que más les apasiona. <br>
				El evento, hoy en día multidisciplinario, opera bajo la consigna: "ideas que vale la pena divulgar". <br> <br>

				El primer evento TED tuvo lugar en Monterey, California, en el año 1984. <br>
				Desde ese entonces se organizan conferencias todos los años. <br>
				El público es muy variado. Año a año acuden desde científicos, a creativos, emprendedores y ejecutivos. <br>
			</p>
		</header>
	</div>
</section>
