<div class="col-md-6">
  <div class="box box-success" style="min-height: 320px;">
    <div class="box-header">
      <i class="fa fa-pie-chart"></i>
      <h3 class="box-title">
        Time distribution of <%= "#{project.client.name} - #{project.name}" %>
      </h3>
      <div class="box-tools pull-right">
        <button tooltips tooltip-template="Remove this widget" type="button" class="btn btn-box-tool" data-widget="remove" ng-click="removeWidget(<%= widget.id %>)">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <canvas class="project_time_usage" data-id=<%= project.id %> height="200" width="600"></canvas>
    </div>
    <div class="box-footer no-border">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h5>Last week most tracked time categories</h5>
        </div>
        <div class="col-xs-4 text-center">
          <span class="js-max-val-2"></span>
          <div class="knob-label js-max-label-2"></div>
        </div>
        <div class="col-xs-4 text-center" style="border-left: 1px solid #f4f4f4; border-right: 1px solid #f4f4f4">
          <span class="js-max-val-1" style="font-size: 20px"></span>
          <div class="knob-label js-max-label-1"></div>
        </div>
        <div class="col-xs-4 text-center">
          <span class="js-max-val-3"></span>
          <div class="knob-label js-max-label-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
