<% if @widgets.empty? %>
  <div class="c-emtpy-fav">
    <%= image_tag 'heart.svg', class: 'c-emtpy-fav__image' %>
    <div class="c-emtpy-fav__title">
      You don't have any widgets yet.
    </div>
    <div class="c-emtpy-fav__description">
      See the summary of as many projects as you want, clicking on the "Add Widget" link in the project detail.
    </div>
  </div>
<% else %>
  <% @widgets.each do |widget| %>
    <%= render partial: widget.widget_type, locals: { project: widget.project, widget: widget } %>
  <% end %>
<% end %>
