<%= render partial: 'shared/page_title', locals: { title: 'Dashboard' } %>


<section id= "content" class="content" %>

  <%= render partial: 'upcoming_events' %>
  <%= render partial: 'fav_projects_details' %>

</section>
