<%= render partial: 'shared/page_title', locals: { title: 'Dashboard' } %>


<section id= "content" class="content" %>

  <% if can? :manage, :beta %>
    <%= render partial: 'upcoming_events' %>
  <% end %>
  <%= render partial: 'fav_projects_details' %>

</section>
