<div class="row">
  <div class="col-xs-6">
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>

      <div class="info-box-content">
        <span class="info-box-text"><b>Mision</b></span>
        <span class="info-box-text"><%= @project.mision %></span>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="info-box">
      <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>

      <div class="info-box-content">
        <span class="info-box-text"><b>Vision</b></span>
        <span class="info-box-text"><%= @project.vision %></span>
      </div>
    </div>
  </div>
</div>
