<div id="project-mision-modal" class="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <%= form_tag(project_path(@project), method: "patch") do %>
          <div class="c-white-box">
            <div class="c-white-box__upper-desc">
              Mision
            </div>

            <div class="c-white-box__title">
              Edit the Mision of the Project
            </div>

            <div class="c-white-box__desc">
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</div>
              <div>eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</div>
              <div>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
            </div>

            <div class="c-white-box__content">

              <div class="o-form">
                <div class="o-form__label">Mision</div>
                <%= text_area_tag 'project[mision]', @project.mision, class: "o-form__text" %>
                <div class="o-form__description">
                  A mission statement tells you the fundamental purpose of the organization. It concentrates on the present. It defines the customer and the critical processes. It informs you of the desired level of performance.
                </div>
              </div>

              <div class="c-white-box__action">
                <%= submit_tag "Save", class: "o-button" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
