<div class="col-md-4">
  <div class="box box-widget widget-user">
    <a class="img-circle" href="<%= url %>">
      <% if new %>
        <div class="widget-user-header bg-gray">
          <h3 class="widget-user-username"><%= name %></h3>
        </div>
      <% else %>
        <div class="widget-user-header bg-blue">
          <h3 class="widget-user-username"><%= name %></h3>
        </div>
      <% end %>
    </a>
    </div>
</div>
