<div id="project-vision-modal" class="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="c-white-box">
          <div class="c-white-box__upper-desc">
            Vision
          </div>

          <div class="c-white-box__title">
            Add or Edit the Vision of the Project
          </div>

          <div class="c-white-box__desc">
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</div>
            <div>eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</div>
            <div>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
          </div>

          <div class="c-white-box__content">

            <div class="o-form">
              <div class="o-form__label">Vision</div>
              <textarea type="text" class="o-form__text"></textarea>
              <div class="o-form__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
              </div>
            </div>

            <div class="c-white-box__action">
              <a href="#" class="o-button">Submit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
