<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title">Story Point Reference</h3>
    <div class="box-tools pull-right">
      <button data-toggle="modal" data-target="#story-point-modal" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i> Add new Story Point reference</button>
    </div>
  </div>
  <div class="box-body">
    <% if story_points.blank? %>
      <div class="c-emtpy-fav">
        <i class="fa fa-tachometer c-emtpy-fav__image"></i>
        <div class="c-emtpy-fav__title">
          Your Story Points are not defined yet
        </div>
        <div class="c-emtpy-fav__description">
          A story point is a metric used in agile project management and development to estimate the complexity of implementing a given story.
          It's important to define and identify one or multiple reference examples, which the team would do relative sizing of the backlog.
        </div>
      </div>
    <% else %>
      <table class="table">
        <tbody>
          <tr>
            <th style="width: 90px">Story Point</th>
            <th>Definition</th>
          </tr>
          <% story_points.each do |sp| %>
            <tr>
              <td class="text-center"><%= sp.value %></td>
              <td><%= sp.definition %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
