<div class="row">
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-blue">
      <div class="inner">
        <h3>150<sup style="font-size: 15px"> hours</sup></h3>
        <p>3 weeks ago</p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-blue">
      <div class="inner">
        <h3>150<sup style="font-size: 15px"> hours</sup></h3>
        <p>2 weeks ago</p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-blue">
      <div class="inner">
        <h3>150<sup style="font-size: 15px"> hours</sup></h3>
        <p>Last week</p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-xs-6">
    <a href="<%= work_entries_project_path %>">
      <div class="small-box bg-blue">
        <div class="inner">
          <h3>This week</h3>
          <p>Add data for this week</p>
        </div>
      </div>
    </a>
  </div>
</div>
