<div class="box box-widget">
  <div class="box-header with-border">
    <div class="user-block">
      <span class="username" style="margin-left: 0">Weekly rate over the last 10 weeks</span>
    </div>
  </div>
  <div class="box-body">
    <canvas class="project_total_time" data-id=<%= params[:id] %> height="200" width="600"></canvas>
  </div>
</div>
