<div class="c-white-box">
  <div class="c-white-box__upper-desc">
    Expected vs Real Hour Usage
  </div>

  <div class="c-white-box__title">
    See Expected vs Real Hours in this Project
  </div>

  <div class="c-white-box__desc">
    <div>Compare the real weekly rate of hours versus the expectation set in the project.</div>
    <div>The red line displays the number of hours expected in a weekly basis.</div>
    <div>Each blue bar corresponds to the amount of hours that were billed in the project given a week.</div>
  </div>

  <canvas class="project_total_time" data-id=<%= @project.id %> height="200" width="600"></canvas>

  <div class="c-white-box__action">
    <a href="<%= hours_project_path(@project.id) %>" class="o-button">
      Explore Distribution
    </a>
  </div>
</div>
