<div class="c-white-box">
  <div class="row">
    <div class="col-xs-4 o-separator-right">
      <div class="c-list__item">
        <div class="c-list__item__key">Min Velocity Over Last 10 Periods</div>
        <div class="c-list__item__value"><%= @project.min_velocity_over_10_periods %> points</div>
      </div>
    </div>
    <div class="col-xs-4 o-separator-right">
      <div class="c-list__item">
        <div class="c-list__item__key">Average Velocity Over Last 10 Periods</div>
        <div class="c-list__item__value"><%= @project.avg_velocity_over_10_periods %> points</div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="c-list__item">
        <div class="c-list__item__key">Max Velocity Over Last 10 Periods</div>
        <div class="c-list__item__value"><%= @project.max_velocity_over_10_periods %> points</div>
      </div>
    </div>
  </div>
</div>

<div class="c-white-box">
  <div class="c-white-box__upper-desc">
    Team Velocity
  </div>

  <div class="c-white-box__title">
    Instant Velocity Over Time
  </div>

  <div class="c-white-box__desc">
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</div>
    <div>eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</div>
    <div>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
  </div>

  <canvas class="project_velocity" style="margin-top: 40px;" data-id=<%= params[:id] %> height="200" width="600"></canvas>

</div>
