<div class="c-white-box">
  <div class="row">
    <div class="col-xs-4 o-separator-right">
      <div class="c-list__item">
        <div class="c-list__item__key">Min Velocity Over Last 10 Periods</div>
        <div class="c-list__item__value"><%= @project.min_velocity_over_10_periods %> points</div>
      </div>
    </div>
    <div class="col-xs-4 o-separator-right">
      <div class="c-list__item">
        <div class="c-list__item__key">Average Velocity Over Last 10 Periods</div>
        <div class="c-list__item__value"><%= @project.avg_velocity_over_10_periods %> points</div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="c-list__item">
        <div class="c-list__item__key">Max Velocity Over Last 10 Periods</div>
        <div class="c-list__item__value"><%= @project.max_velocity_over_10_periods %> points</div>
      </div>
    </div>
  </div>
</div>

<div class="c-white-box">
  <div class="c-white-box__upper-desc">
    Team Velocity
  </div>

  <div class="c-white-box__title">
    Instant Velocity Over Time
  </div>

  <div class="c-white-box__desc">
    <div>See the instant velocity of the project in each period.</div>
    <div>Velocity is a metric that predicts how much work a team can successfully complete within a period.</div>
  </div>

  <div class="c-legend">
    <div class="c-legend__component">
      <div class="c-legend__component__img c-legend__component__img--cirle" style="background-color: rgba(151, 187, 205, 0.5); border: 1px solid rgba(151, 187, 205, 0.8);"></div>
      <div class="c-legend__component__text">
        Instant Velocity
      </div>
    </div>
    <div class="c-legend__component">
      <div class="c-legend__component__img c-legend__component__img--line" style="border-color: rgba(66, 113, 118, 1)"></div>
      <div class="c-legend__component__text">
        Average Velocity
      </div>
    </div>
  </div>

  <canvas class="project_velocity" style="margin-top: 40px;" data-id=<%= params[:id] %> height="200" width="600"></canvas>

</div>
