<div class="c-white-box">
  <div class="c-white-box__upper-desc">
    Soften Velocity Chart
  </div>

  <div class="c-white-box__title">
    ADS ASD ASD ASD
  </div>

  <div class="c-white-box__desc">
    <div>See the instant velocity of the project in each period.</div>
  </div>

  <canvas class="project_progress_velocity" style="margin-top: 40px;" data-id=<%= params[:id] %> height="200" width="600"></canvas>

</div>
