<%= render partial: 'shared/page_title', locals: { title: @project.name, description: @project.client.name, menu: [{ icon: 'home', key: 'Summary', url: project_path(@project), active: false }, { icon: 'line-chart', key: 'Team Performance', url: velocity_project_path(@project), active: false }, { icon: 'pie-chart', key: 'Time Distribution', url: hours_project_path(@project), active: true }] } %>

<section id= "content" class="content" %>

  <div class="row">
    <div class="col-xs-12">
      <div class="c-header-exp text-center">
        <div class="c-header-exp__line"></div>
        <div class="c-header-exp__title">
          Time Distribution
        </div>
      </div>

      <%= render partial: "time_usage_report" %>
      <%= render partial: "total_time" %>
    </div>
  </div>

</section>
