<%= render partial: 'header', locals: { from: "show" } %>

<section id= "content" class="content" %>

  <% if can? :manage, :project_sensitive_data %>
    <%= render partial: 'projects/summary' %>
  <% end %>
  <%= render partial: 'projects/details' %>

</section>
