<%= render partial: 'shared/page_title', locals: { title: @project.name } %>

<section id= "content" class="content" data-id=<%= params[:id] %>>
  <%= render partial: 'projects/summary' %>

  <h2 class="page-header">Time distribution over the last 2 months</h2>
  <canvas id="project_summary" height="200" width="600"></canvas>

  <h2 class="page-header">Weekly rate over the last 2 months</h2>
  <canvas id="project_summary" height="200" width="600"></canvas>

</section>
