<%= render partial: 'header', locals: { from: "team_performance" } %>

<section id= "content" class="content" %>

  <div class="row">
    <div class="col-xs-12">
      <%= render partial: "velocity_report" %>
    </div>
  </div>

</section>
