<div ng-controller="TeamPerformanceController">
  <%= render partial: 'shared/page_title',
    locals: {
      title: @project.name,
      description: @project.client.name,
      menu: [{ icon: 'home', key: 'Summary', url: project_path(@project), active: false }, { icon: 'line-chart', key: 'Team Performance', url: team_performance_project_path(@project), active: true }, { icon: 'pie-chart', key: 'Time Distribution', url: time_distribution_project_path(@project), active: false }],
      right_action: { link: '#', angular_method: 'triggerModal()' }
    }
  %>

  <section id= "content" class="content" %>

      <%= render partial: "velocity_report" %>
      <%#= render partial: "story_points_definition", locals: { story_points: @project.story_points } %>

  </section>

  <%= render partial: "velocity_periods_modal" %>
</div>
