<div id="billable_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Mark the entry as billable?</h4>
      </div>
      <div class="modal-body">
        <div class="box box-widget">
          <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
              <li><a href="#" data-billable-name="Billable" data-billable-id="billable" ng-click="selectEntity('billable', { name: 'Billable', id: 'billable' }, '#billable_modal')">Yes<span class="pull-right badge bg-aqua">Select</span></a></li>
              <li><a href="#" data-billable-name="Not Billable" data-billable-id="not_billable" ng-click="selectEntity('billable', { name: 'Not Billable', id: 'not_billable' }, '#billable_modal')">No<span class="pull-right badge bg-aqua">Select</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
