<div class="col-xs-12">

  <div class="js-timer c-timer">
    <div class="c-timer__description">
      <input tabindex="1" type="text" placeholder="Hey, psst, what are you doing?" tabindex="1" class="js-description c-timer__description__input" ng-keypress="keyPressed($event)">
    </div>

    <div class="js-project c-timer__project">
      <select tabindex="2" class="js-proj-select2" style="display: none"></select>
    </div>

    <div class="js-cat c-timer__project">
      <select class="js-cat-select2" style="display: none"></select>
    </div>

    <div class="c-timer__time">
      <input tabindex="5" placeholder="0 sec" type="text" maxlength="10" tabindex="5" class="js-time c-timer__time__value" disabled="true">
    </div>

    <div class="c-timer__submit">
      <a href="#" class="c-timer__submit__addmanually">Add manually</a>
      <button tabindex="6" class="c-timer__submit__button" ng-click="startTimer()" ng-show="!inProgress()">Start</button>
      <button tabindex="6" class="c-timer__submit__button is-red" ng-click="stopTimer()" ng-show="inProgress()">Stop</button>
    </div>
  </div>
</div>
