<div class="col-xs-12">

  <div class="js-timer c-timer">
    <div class="c-timer__description">
      <input type="text" placeholder="Hey, psst, what are you doing?" tabindex="1" class="c-timer__description__input">
    </div>

    <div class="c-timer__project">
      <a href="#" tabindex="2" class="js-project c-timer__project__add" data-toggle="modal" data-target="#project_modal"></i>Project</a>
    </div>

    <div class="c-timer__project">
      <a href="#" tabindex="2" class="js-category c-timer__project__add" data-toggle="modal" data-target="#category_modal"></i>Category</a>
    </div>

    <div class="c-timer__project">
      <a href="#" tabindex="2" class="js-billable c-timer__project__add" data-toggle="modal" data-target="#billable_modal"></i>Billable</a>
    </div>

    <div class="c-timer__time">
      <div class="date-time-container popdown-host js-duration for-datetime">
        <input placeholder="0 sec" type="text" maxlength="10" tabindex="5" class="js-timer__value c-timer__time__value" disabled="true">
      </div>
    </div>

    <div class="c-timer__submit">
      <a href="#" class="c-timer__submit__addmanually">Add manually</a>
      <button tabindex="6" class="js-timer__start c-timer__submit__button">Start</button>
      <button style="display: none" tabindex="6" class="js-timer__stop c-timer__submit__button is-red">Stop</button>
    </div>
  </div>
</div>
