<section class="c-time-entries-day">

  <header class="c-timer-entries-group-header">
    <div class="c-timer-entries-group-header__date-container">
      <span class="c-timer-entries-group-header__date-container__title">Today</span>
      <span class="c-timer-entries-group-header__date-container__super">8 h 24 min</span>
    </div>
  </header>

  <div class="c-time-entry" ng-repeat="te in timeEntries">
    <div class="c-time-entry__description">
      {{ te.description }}
      <span class="label label-info">{{ te.project }}</span>
    </div>

    <div class="c-time-entry__timespan">
      {{ formatFromTo(te.from, te.to) }}
    </div>

    <div class="c-time-entry__duration">
      {{ te.duration }}
    </div>

    <div class="c-time-entry__tag">
      <span class="c-time-entry__tag__label label">{{ te.tag }}</span>
    </div>
  </div>

</section>
