<section class="c-time-entries-day">

  <div class="c-time-entry" ng-repeat="te in timeEntries">

    <div class="c-timer-entries-group-header" ng-if="newDateBlock(te.date)">
      <div class="c-timer-entries-group-header__date-container">
        <span class="c-timer-entries-group-header__date-container__title">{{ te.date }}</span>
        <span class="c-timer-entries-group-header__date-container__super">{{ currentDuration(te.id, te.date, te.duration) }}</span>
      </div>
    </div>

    <div class="c-time-entry__description">
      <i ng-if="empty(te.description)">(no description)</i>
      {{ te.description }}
    </div>

    <span class="label label-info" style="background-color: {{ te.project.color }} !important">{{ te.project.name }}</span>

    <div class="c-time-entry__actions">
      <%= image_tag 'delete.svg', class: 'c-time-entry__actions__img', alt: 'Delete Entry', 'ng-click': "deleteEntry(te.id)" %>
    </div>

    <div class="c-time-entry__timespan">
      {{ formatFromTo(te.from, te.to) }}
    </div>

    <div class="c-time-entry__duration">
      {{ formatDuration(te.id, te.date, te.duration) }}
    </div>

    <div class="c-time-entry__tag">
      <span class="c-time-entry__tag__label label">{{ te.tag.name }}</span>
    </div>
  </div>

</section>
