<%= render partial: 'shared/page_title', locals: { title: 'Time Tracking' } %>

<section id= "content" class="content" ng-controller="TimeEntryController" %>

  <div class="row">
    <%= render partial: "current_entry" %>
    <%= render partial: "time_entries" %>
  </div>

</section>
