.c-emtpy-fav {
  text-align: center;
  margin-bottom: 100px;
}

  .c-emtpy-fav__image {
    margin: 100px 0 20px;
  }

  .c-emtpy-fav__title {
    color: #aaaaaa;
    font-size: 25px;
  }

  .c-emtpy-fav__description {
    color: #aaaaaa;
  }
