.c-list {}

  .c-list__item {
    text-align: center;
    padding: 10px 0;
  }

    .c-list__item__title {
      font-size: 20px;
      color: #4A4A4A;
      padding: 0 0 10px 0;
      line-height: 40px;
    }
    .c-list__item__action {
      margin-top: 10px;
    }
    .c-list__item__key {
      font-size: 10px;
      font-weight: 600;
    }
    .c-list__item__value {
      font-size: 25px;
      font-weight: 600;
    }
