.c-timer {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #fff;
  position: relative;
  margin: 20px auto 0;
  -webkit-box-shadow: 0 1px 4px rgba(128,128,128,.4);
  -moz-box-shadow: 0 1px 4px rgba(128,128,128,.4);
  box-shadow: 0 1px 4px rgba(128,128,128,.4);
}

  .c-timer__description {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
  }

    .c-timer__description__input {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding-right: 0;
      font-size: 18px;
      padding: 15px 18px 16px;
      border: none;
      outline: none;
    }

  .c-timer__project {
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 2px;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

    .c-timer__project__add {
      display: inline-block;
      position: static;
      white-space: nowrap;
      padding: 22px 0 21px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: #595959;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
      border: 0;
      cursor: pointer;
      background: #fff;
    }

  .c-timer__submit {
    width: 19%;
    max-width: 192px;
    transition: max-width .25s;
  }

    .c-timer__submit__addmanually {
      color: #00a65a;
      font-size: 12px;
      font-weight: 600;
      position: absolute;
      top: -24px;
      right: 0;
    }

    .c-timer__submit__button {
      color: #fff;
      background: #00a65a;
      border: 0;
      -webkit-box-shadow: inset 0 -2px 0 #00a65a!important;
      -moz-box-shadow: inset 0 -2px 0 #00a65a!important;
      box-shadow: inset 0 -2px 0 #00a65a!important;
      -webkit-box-shadow: inset 0 -1px 0 #00a65a;
      -moz-box-shadow: inset 0 -1px 0 #00a65a;
      box-shadow: inset 0 -1px 0 #00a65a;
      border-color: #00a65a;
      color: #fff;
      width: 100%;
      text-align: center;
      font-size: 18px;
      padding: 19px 24px 16px;
      -webkit-appearance: none;

      &.is-red {
        background-color: #a60700;
        -webkit-box-shadow: inset 0 -2px 0 #a60700!important;
        -moz-box-shadow: inset 0 -2px 0 #a60700!important;
        box-shadow: inset 0 -2px 0 #a60700!important;
        -webkit-box-shadow: inset 0 -1px 0 #a60700;
        -moz-box-shadow: inset 0 -1px 0 #a60700;
        box-shadow: inset 0 -1px 0 #a60700;
        border-color: #a60700;
      }
    }

  .c-timer__time {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background: #fff;
  }

    .c-timer__time__value {
      text-align: center;
      font-size: 18px;
      padding: 16px 18px 16px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border: none;
      outline: none;
    }
