.c-emtpy-client {
  text-align: center;
}

  .c-emtpy-client__image {
    margin: 40px 0 20px;
  }

  .c-emtpy-client__title {
    color: #aaaaaa;
    font-size: 25px;
  }

  .c-emtpy-client__description {
    color: #aaaaaa;
    margin-bottom: 80px;
  }
