.c-page-header {
  border-bottom: 2px solid #DFDFDF;
}

  .c-page-header__title {
    font-size: 24px;
    line-height: 48px;
  }

  .c-page-header__description {
    font-size: 16px;
    color: #9B9B9B;
    line-height: 32px;
  }

  .c-page-header__menu {
    padding: 20px 0 0 0;
  }

  .c-page-header__action {
    float: right;
    margin-top: 10px;
  }

    .c-page-menu__item {
      font-size: 12px;
      color: #999999;
      text-transform: uppercase;
      padding-right: 20px;

      &:hover {
        color: #777777;
      }

      &.is-active {
        color: #00A65A;

        &:hover {
          color: #008d4c;
        }
      }
    }
