.c-timer-entries-group-header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 40px;
}

  .c-timer-entries-group-header__date-container {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: #888;
    margin-top: 10px;
    font-size: 21px;
  }

    .c-timer-entries-group-header__date-container__title {

    }
    
    .c-timer-entries-group-header__date-container__super {
      position: relative;
      padding: 0 12px;
      color: #888;
      font-size: 12px;
      font-weight: 600;
    }
