.c-detailed_report {
}

  .c-detailed_report__time_entry {
    width: 100%;
    border-bottom: 1px solid #dddddd;
    font-size: 14px;

    &:hover {
      background-color: #eceef0;
    }
  }

    .c-detailed_report__time_entry__description {
      display: inline-block;
      outline: none;
      padding: 10px;
    }

    .c-detailed_report__time_entry__tag {
      display: inline-block;
      float: right;
      padding: 10px;
    }

      .c-detailed_report__time_entry__tag__label {
        background-color: #e6e6e6;
        color: #595959 !important;
      }

    .c-detailed_report__time_entry__duration {
      display: inline-block;
      float: right;
      padding: 10px;
      min-width: 80px;
      text-align: right;
    }

    .c-detailed_report__time_entry__timespan {
      display: inline-block;
      float: right;
      margin-right: 10px;
      padding: 10px;
      color: #aaaaaa;
    }

    .c-detailed_report__user {
      display: inline-block;
      float: right;
      margin-right: 10px;
      padding: 10px;
    }

    .c-detailed_report__time_entry__actions {
      display: inline-block;
      float: right;
    }

      .c-detailed_report__time_entry__actions__edit, .c-detailed_report__time_entry__actions__delete, .c-detailed_report__time_entry__actions__continue {
        width: 15px;
        height: 15px;
        margin: 12px 5px;
        cursor: pointer;
        color: #ccc;
      }
