.c-time-entry {
  width: 100%;
  border-bottom: 1px solid #dddddd;
  font-size: 14px;

  &:hover {
    background-color: #eceef0;
  }
}

  .c-time-entry__description {
    display: inline-block;
    outline: none;
    padding: 10px;
  }

  .c-time-entry__tag {
    display: inline-block;
    float: right;
    padding: 10px;
  }

    .c-time-entry__tag__label {
      background-color: #e6e6e6;
      color: #595959 !important;
    }

  .c-time-entry__duration {
    display: inline-block;
    float: right;
    padding: 10px;
  }

  .c-time-entry__timespan {
    display: inline-block;
    float: right;
    margin-right: 10px;
    padding: 10px;
    color: #aaaaaa;
  }
