.c-team_leader_box {

}

	.c-team_leader_box__image {
		width: 50px;
    padding: 2px;
    border: 1px solid #ccc;
		border-radius: 50%;
	}

	.c-team_leader_box__name {
		font-weight: bold;
		font-size: 12px;
	}
