<li>
  <i class="fa fa-code bg-blue"></i>
  <div class="timeline-item">
    <h3 class="timeline-header"><a><%= event.name %></a> - <%= event.project.name %>, <%= event.project.client.name %></h3>
    <div class="timeline-body">
      <%= event.description %>
    </div>
    <div class="timeline-footer"></div>
  </div>
</li>
