.select2-selection {
  height: 40px !important;
  min-width: 100px !important;
  text-align: center !important;
  border: none !important;
  margin-top: 12px !important;
}

.select2-selection__arrow {
  margin-top: 14px;
}

.select2-dropdown {
  width: 95px;
  min-width: 793px;
  left: -300px !important;
  top: 9px;
}
