.select2-selection {
  height: 40px !important;
  text-align: center !important;
  border: none !important;
  margin-top: 12px !important;
}

.select2-selection__rendered-circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: red;
  display: inline-block;
  line-height: 28px;
  margin-top: 7px;
}

.select2-selection__rendered {
  display: inline-block !important;
  line-height: 12px !important;
  padding-right: 10px !important;
  margin-top: 4px !important;
  width: auto !important;
}

.select2-dropdown {
  min-width: 800px;
  top: 9px;
  -webkit-box-shadow: 0 1px 4px rgba(128, 128, 128, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(128, 128, 128, 0.4);
  box-shadow: 0 1px 4px rgba(128, 128, 128, 0.4);
  border: none !important;
}

.js-selected {
  background-color: #9a9a9a;
  color: #e6e6e6 !important;
}

.select2-search__field {
  border: 1px solid #d2d6de !important;
}

.select2-results__group {
  border-bottom: 1px solid #ccc;
  color: #ccc;
  padding-top: 10px !important;
}
