<div class="col-xs-12">

  <div class="js-timer c-timer">
    <div class="c-timer__description">
      <input tabindex="1" type="text" placeholder="Description" tabindex="1" class="js-description c-timer__description__input">
    </div>

    <div class="js-project c-timer__project">
      <select tabindex="2" class="js-proj-select2" multiple="multiple" style="display: none"></select>
    </div>

    <div class="js-cat c-timer__project">
      <select tabindex="3" class="js-cat-select2" multiple="multiple" style="display: none"></select>
    </div>

    <div class="c-timer__submit">
      <button tabindex="5" class="c-timer__submit__button" ng-click="startTimer()">Search</button>
    </div>
  </div>
</div>
