<div class="col-xs-12">

  <div class="js-timer c-timer">
    <div class="c-timer__description">
      <input tabindex="1" type="text" placeholder="Description" tabindex="1" class="js-description c-timer__description__input">
    </div>

    <div class="c-timer__submit">
      <button tabindex="5" class="c-timer__submit__button" ng-click="startTimer()">Search</button>
    </div>
  </div>
</div>

<select multiple class="js-proj-select"></select>
<select multiple class="js-user-select"></select>
<select multiple class="js-tag-select"></select>
