<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Detailed Report</h3>
  </div>

  <div class="box-body">

    <input type="text" placeholder="Description" class="js-description">
    <project-multiple-selector></project-multiple-selector>
    <user-multiple-selector></user-multiple-selector>
    <time-category-multiple-selector></time-category-multiple-selector>
  </div>

  <div class="box-footer">
    <button type="submit" class="btn btn-primary" ng-click="search()">Search</button>
  </div>
</div>
