<%= render partial: 'shared/page_title', locals: { title: "Reports" } %>

<section id= "content" class="content" ng-controller="ReportsController">
  <div class="row">

    <%= render partial: "search_tools" %>

  </div>
</section>
