<%= render partial: 'shared/page_title', locals: { title: "Reports" } %>

<section id= "content" class="content" ng-controller="ReportsController">
  <div class="row">
    <div class="col-xs-12">

      <%= render partial: "search_tools" %>
      <%= render partial: "detailed" %>

    </div>
  </div>
</section>
