<%= render partial: 'shared/page_title', locals: { title: "Settings for #{@account.name} account" } %>

<section id= "content" class="content" %>
  <div class="row">
    <div class="col-xs-7">

    </div>
    <div class="col-xs-5">
      <div class="box box-widget widget-user-2">
        <div class="widget-user-header bg-green">
          <h3 class="widget-user-username" style="margin-left: 0; margin-bottom: 10px">Time Categories</h3>
          <h5 class="widget-user-desc" style="margin-left: 0">Time categories allows you to filter time entries, retrieve stats of time usage, and improve your process</h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <% @account.time_categories.each do |cat| %>
              <li><a href="#"><%= cat.name %><span class="pull-right badge bg-green">Edit</span></a></li>
            <% end %>
            <li><a href="#">Add new</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
